/*############ Start Home Styles ##############*/

.home {
  width: 100%;
  height: auto;
  margin: auto;
  padding-top: 10px;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home h4:first-child {
  font-weight: 600;
}

.home p {
  margin-top: 10px;
  font-size: 17px;
}

.home_habilities {
  margin-top: 10px;
  font-weight: 700;
  font-size: 20px;
}

.hire_me {
  font-size: 20px;
  margin-top: 20px;
  background-color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 30px 10px 30px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  color: #1D1D1D;
  font-weight: 700;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.hire_me:active {
  background-color: black;
  color: white;
  border: 2px solid white;
}

.hire_me:hover {
  box-shadow: 5px 5px 25px rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

/* Mobile */

@media (max-width: 480px) {
  .home {
    margin-top: 20px;
    flex-direction: column;
    text-align: center;
  }

  .home_text {
    margin-bottom: 20px;
  }
}

/*############ End Home Styles ##############*/

/*############ Start About Styles ##############*/

.about {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about_text {
  width: 400px;
}

.about_text h1 {
  font-weight: 700;
}

.about_text h3 {
  font-weight: 400;
  padding: 10px 0px 10px 0px;
}

.about_text h4 {
  font-weight: 400;
  color: #FFAC40;
  text-decoration: underline;
}

.cv_download {
  font-size: 20px;
  margin-top: 20px;
  background-color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 30px 10px 30px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  color: #1D1D1D;
  font-weight: 700;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.cv_download:active {
  background-color: black;
  color: white;
  border: 2px solid white;
}

.cv_download:hover {
  box-shadow: 5px 5px 25px rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

/* Mobile */

@media (max-width: 480px) {
  .about {
    flex-direction: column;
    margin-top: 100px;
    text-align: center;
  }
}

/*############ End About Styles ##############*/

/*############ Start Navigation Styles ##############*/

.Navegation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1050;
  width: 100%;
  height: 70px;
  color: #D1D1D1;
  background-color: rgba(29, 29, 29, 0.5);
}

.Navegation h2:first-child {
  padding-left: 40px;
  font-weight: 500;
}

.Navegation ul {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.Navegation ul li {
  padding: 5px 10px 10px 5px;
}

.Navegation a {
  font-size: 23px;
  font-weight: 300;
}

.Navegation li {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.Navegation a:active {
  color: white;
  text-decoration: underline;
}

.Navegation li:hover {
  text-shadow: 3px 3px 15px #FFAC40;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.Navegation_mobile{
  display: none;
}

/* Mobile */
@media (max-width: 480px) {

  .Navegation_mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1050;
    width: 100%;
    height: 70px;
    color: #D1D1D1;
    background-color: rgba(29, 29, 29, 0.5);
  }

  .Navegation_mobile h2:first-child {
    margin-left: 40px;
    font-weight: 500;
  }

  .Navegation_mobile ul {
    display: flex;
    align-items: center;
    padding-right: 20px;
  }

  .Navegation_mobile ul li {
    padding: 5px 10px 10px 5px;
  }

  .Navegation_mobile a {
    font-size: 23px;
    font-weight: 300;
  }

  .Navegation_mobile li {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }

  .Navegation_mobile a:active {
    color: white;
    text-decoration: underline;
  }

  .Navegation_mobile li:hover {
    text-shadow: 3px 3px 15px #FFAC40;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }

}

/*############ End Navigation Styles ##############*/

/*############ Start Card Styles ##############*/

.cards {
  margin-top: 30px;
  width: 100%;
  background-color: #1b1b1b;
  height: auto;
  text-align: center;
}

.cards_text {
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: column;
}

.cards_text h4 {
  font-weight: 400;
  color: #FFAC40;
  text-decoration: underline;
}

.cards_text h1 {
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .box {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.container .box::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.container .box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s ease-in-out;
  filter: blur(90px);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -webkit-transform: skewX(15deg);
  -moz-transform: skewX(15deg);
  -ms-transform: skewX(15deg);
  -o-transform: skewX(15deg);
  -webkit-filter: blur(90px);
}

.container .box:nth-child(1):before,
.container .box:nth-child(1):after {
  background: linear-gradient(315deg, #FFAC40, #ff0058)
}

.container .box:nth-child(2):before,
.container .box:nth-child(2):after {
  background: linear-gradient(315deg, #03a9f4, #ff0058)
}

.container .box:nth-child(3):before,
.container .box:nth-child(3):after {
  background: linear-gradient(315deg, #4dff03, #00d0ff)
}

.container .box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.container .box span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
}

.container .box:hover span::before {
  top: -15px;
  left: 50px;
  width: 60px;
  height: 60px;
  opacity: 1;
}

.container .box span::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  animation-delay: -1s;
  -webkit-animation: animate 2s ease-in-out infinite;
}

.container .box:hover span:after {
  bottom: -15px;
  right: 50px;
  width: 60px;
  height: 60px;
  opacity: 1;
}

@keyframes animate {

  0%,
  100% {
    transform: translateY(10px);
  }

  50% {
    transform: translate(-10px);
  }
}

.container .box .content {
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
}

.icon {
  width: 70px;
  height: auto;
}

.container .box:hover .content {
  /* left: -25px; */
  padding: 40px 40px;
}

.container .box .content h2 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 600;
}

.container .box .content p {
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
  font-weight: 500;
}

@media (max-width: 480px) {
  .cards {
    margin-top: 100px;
  }
}

/*############ End Card Styles ##############*/

/*############ Start Workflow Styles ##############*/

.WorkFlow {
  margin: 10px;
}

.Workflow_line {
  border: 1px solid #fff;
}

.Workflow_super {
  margin-top: 40px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
}

.Workflow_box {
  width: 330px;
  height: auto;
  display: flex;
  justify-content: center;
  font-size: 13px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.Workflow_box h1 {
  text-decoration: underline #D1D1D1;
  font-weight: 800;
  margin-top: 10px;
}

.Workflow_box:hover {
  transform: scale(1.04);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.02);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
  border: 1px solid #FFAC40;
}

.Workflow_box span {
  position: absolute;
  margin-top: -33px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12.5px 21.7px 12.5px;
  border-color: transparent transparent #ffffff transparent;
}

.Workflow_box:hover>span {
  border-color: transparent transparent #FFAC40 transparent;
}

.icon_workflow {
  width: 50px;
  height: auto;
  color: #fff;
  padding: 0;
  margin: 0;
}

.workflow_content {
  padding: 30px;
}

.workflow_content h3 {
  font-weight: 400;
}

@media (max-width: 480px) {
  .Workflow_line {
    display: none;
  }

  .Workflow_box span {
    display: none;
  }

  .Workflow_super {
    flex-direction: column;
    align-items: center;
  }

  .Workflow_box {
    margin: 20px 0px;
  }
}

/*############ End Workflow Styles ##############*/

/*############ Start Projects Styles ##############*/

.Projects {
  margin-top: 10px;
  width: 100%;
}

.Projects_boxes {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Projects_text_content {
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Projects_text_content h4 {
  font-weight: 400;
  color: #FFAC40;
  text-decoration: underline;
}

.Projects_text_content h1 {
  font-weight: 700;
}

.Projects_box {
  width: 350px;
  height: auto;
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  transition: all 0.3s ease;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.Projects_box:hover {
  transform: scale(1.04);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.02);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
  border: 1px solid #FFAC40;
}

.Projects_box_image {
  width: 300px;
  height: 200px;
  border: 1px solid black;
  margin: 0px auto;
}

.icon_Projects {
  font-size: 0.9rem;
  display: inline-flex;
  background: #d8d8d8;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 15px;
}

.icon_Projects span {
  border-radius: 5px;
  padding: 3px 5px;
  font-weight: 400;
}

.react {
  background: #bad5f5;
}

.react span::after {
  content: "React.js";
}

.express {
  background: #f2c986;
}

.express span::after {
  content: "Express";
}

.node {
  background: #e1c1c1;
}

.node span::after {
  content: "Node.js";
}

.Projects_content {
  margin-top: 10px;
}

.Projects_content h1 {
  font-weight: 700;
}

.Projects_links {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
}

.Projects_website {
  padding: 5px;
  color: #FFAC40;
  font-weight: 400;
  margin: 5px 10px 0 0;
  border-radius: 5px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.Projects_website:hover {
  background-color: #FFAC40;
  color: #1D1D1D;
}

.Projects_github {
  font-weight: 400;
  padding: 5px;
  color: #03a9f4;
  margin: 5px 0 0 10px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.Projects_github:hover {
  background-color: #03a9f4;
  color: #1D1D1D;
}

.Projects_status {
  text-decoration: underline;
  font-weight: 600;
}

@media (max-width:48kz0px) {
  .Projects_box {
    text-align: center;
  }

  .Projects_links {
    justify-content: center;
  }
}

/*############ End Projects Styles ##############*/

/*############ Start Footer Styles ##############*/

.Footer {
  margin: 15px 0 0 0;
  padding-bottom: 15px;
  text-align: center;
  background-color: #1b1b1b;
}

.Footer_header_content {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Footer_header_content h4 {
  font-weight: 400;
  color: #FFAC40;
  text-decoration: underline;
}

.Footer_header_content h1 {
  font-weight: 700;
}

.Footer_Content {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_Footer {
  font-size: 40px;
  margin: 30px 15px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.icon_Footer:hover {
  filter: drop-shadow(0px 0px 5px rgba(255, 172, 64, 0.5));
  -webkit-filter: drop-shadow(0px 0px 5px rgba(255, 172, 64, 0.5));
  color: #FFAC40;
}

.Footer_divisor_horizontal {
  width: 300px;
  height: 2px;
  background-color: #bad5f5;
  margin: 0 30px;
}

.Footer_divisor_vertical {
  width: 2px;
  height: 50px;
  background-color: #bad5f5;
  margin: 0 auto;
  margin-bottom: 20px;
}

.Footer_footer h1 {
  font-weight: 800;
}

.Footer_footer h2 {
  font-weight: 400;
  text-decoration: underline;
}

.Footer_copyright {
  margin-top: 15px;
}

/*############ End Footer Styles ##############*/

/*############ Start Media Queries Styles ##############*/

@media (max-width: 480px) {
  .Navegation {
    display: none;
  }

  .Navegation_mobile {
    display: flex;
  }
}

/*############ Start Media Queries Styles ##############*/